<div id="home">
  
    <section class="hero is-dark is-medium">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-1 is-spaced">
            Welcome to Whiskey Journal!
          </h1>
          <h2 class="subtitle is-4">
            Your leading whiskey resource, that's not that hipster who hangs around your local bar spouting random
            whiskey facts.
          </h2>
        </div>
      </div>
      <div class="hero-footer has-text-centered" style="padding-bottom: 2rem;">
        <div class="container buttons is-centered">
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./addUser">New User</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./addWhiskey">Add Whsikey</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./viewReviews">Submit Review</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./discover">Discover</a></button>
        </div>
      </div>
    </section>
  
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>