<div id="home">
  
    <section class="hero is-dark is-medium">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-1 is-spaced">
            Welcome to Whiskey Journal!
          </h1>
          <h2 class="subtitle is-4">
            Your leading whiskey resource, that's not some hipster on YouTube.
          </h2>
        </div>
      </div>
      <div class="hero-footer has-text-centered" style="padding-bottom: 2rem;">
        <div class="container buttons is-centered">
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./viewWhiskeys">View Your Whiskeys</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./addWhiskey">Add Whiskey</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a href="./discover">Discover</a></button>
        </div>
      </div>
    </section>
  
</div>