<div class="container styled-element">
    <form id="addwhiskey-form">

        <div class="field">
            <label class="label has-text-white">Whiskey Name</label>
            <div class="control">
                <input id="whiskeyname" class="input" type="text" placeholder="Text input">
            </div>
            <label class="label has-text-white">Whiskey Price</label>
            <div class="control">
                <input id="price" class="input" type="text" placeholder="Text input">
            </div>
        </div>

        <div class="field">
            <label class="label has-text-white">Type</label>
            <div class="control">
                <div class="select">
                    <select id="whiskeyType">
                        <option>Bourbon</option>
                        <option>Rye </option>
                        <option>Sour Mash </option>
                        <option>Scotch </option>
                        <option>Irish </option>
                        <option>Japanese</option>
                        <option>Canadian</option>
                        <option>Single Malt</option>
                    </select>
                </div>
            </div>
        </div>

    <div class="field">
        <label class="label has-text-white">Tasting Notes</label>
        <div class="control">
            <textarea id="whiskeyReview" class="textarea" placeholder="How was it?"></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label has-text-white">Rating</label>
        <div class="control">
            <div class="select">
                <select id="whiskeyRating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </form>
</div>

<script src="js/addWhiskey.js" type="text/javascript"></script>