.list-group-item {
  line-height: 2.5;
}

.bg-img {
  background-image: url("/images/bar.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100vh;
}