.list-group-item {
  line-height: 2.5;
}

.navbar-title {
  color: #4a4a4a;
}

.navbar-title:hover {
  text-decoration: none;
  color: #4a4a4a;
}

.bg-img {
  background-image: url("/images/bar.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100vh;
}

#whiskey-info {
  margin-top: 2rem;
}

.styled-element {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#discover-form {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#new-whiskey-form {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#new-user-form {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#view-container {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#view-whiskeys-filters {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#whiskey-data {
  padding: 2rem;
  border: solid;
  background-color: rgba(0, 0, 0, 0.2);
}

#view-label {
  padding-bottom: 2rem;
}