.list-group-item {
  line-height: 2.5;
}

.bg-img {
  background-image: url("/images/bar.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  height: 100vh;
}

#whiskey-info {
  margin-top: 2rem;
}

#discover-form {
  padding-top: 2rem;
}

#new-whiskey-form {
  padding-top: 2rem;
}

#new-user-form {
  padding-top: 2rem;
}